#historyc{
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 125px;
	border: 1px solid red;
}
#historyc >li{
	border-left: 1px solid green;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	padding: 0 5px;
}
#historyc li ul{
	margin: 0;
	padding: 0;
}
#historyc >li >ul{
    position: absolute;
    left: 0;
	display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
#historyc >li:focus + #historyc >li >ul{
	display: block;
}